element.style {
}
.scheduleApp_f18ino0j {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 60px;
    width: 90%;
}

*, *:before, *:after {
    box-sizing: inherit;
}
div {
    display: block;
}
.global_f1rg2kq0 {
    font-family: Trebuchet MS, Tahoma, Helvetica, Verdana, Geneva, Arial, sans-serif;
    font-size: 14px;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
html {
    color: -internal-root-color;
}
*, *:before, *:after {
    box-sizing: inherit;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.canvasContainer_f10wuyl8 {
    height: calc(45.50000000000001vw - 35px - 15px);
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 8px;
    max-height: calc(728.0000000000001px - 35px - 15px);
    min-height: calc(490.00000000000006px - 35px - 15px);
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior: contain;
}
<style>
*, *:before, *:after {
    box-sizing: inherit;
}
user agent stylesheet
div {
    display: block;
}
<style>
.global_f1rg2kq0 {
    font-family: Trebuchet MS, Tahoma, Helvetica, Verdana, Geneva, Arial, sans-serif;
    font-size: 14px;
}
<style>
html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
user agent stylesheet
html {
    color: -internal-root-color;
}
<style>
*, *:before, *:after {
    box-sizing: inherit;
}
<style>
*, *:before, *:after {
    box-sizing: inherit;
}
<style>
.scroll_fzw7jfy::-webkit-scrollbar, .content_f1sx0zxn::-webkit-scrollbar, .canvasContainer_f10wuyl8::-webkit-scrollbar, .content_f1y51svb::-webkit-scrollbar {
    height: 9px;
    width: 9px;
}
<style>
.scroll_fzw7jfy::-webkit-scrollbar-thumb, .content_f1sx0zxn::-webkit-scrollbar-thumb, .canvasContainer_f10wuyl8::-webkit-scrollbar-thumb, .content_f1y51svb::-webkit-scrollbar-thumb {
    -webkit-overflow-scrolling: touch;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}
<style>
.scroll_fzw7jfy::-webkit-scrollbar-track, .content_f1sx0zxn::-webkit-scrollbar-track, .canvasContainer_f10wuyl8::-webkit-scrollbar-track, .content_f1y51svb::-webkit-scrollbar-track {
    background-color: rgba(113, 112, 107, 0.18);
    border-radius: 3px;
}

.global_f1rg2kq0 {
    font-family: Trebuchet MS, Tahoma, Helvetica, Verdana, Geneva, Arial, sans-serif;
    font-size: 14px;
}
<style>
html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
user agent stylesheet
html {
    color: -internal-root-color;
}
<style>
*, *:before, *:after {
    box-sizing: inherit;
}
<style>
*, *:before, *:after {
    box-sizing: inherit;
}